apiVersion: apps/v1
kind: Deployment
metadata:
  name: userservice-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: userservice
  template:
    metadata:
      labels:
        app: userservice
    spec:
      containers:
      - name: userservice
        image: userservice:k8s    
        imagePullPolicy: Never    
        ports:
        - containerPort: 8080
        env:
        - name: SERVICE_NAME      
          value: "UserService"
        - name: ASPNETCORE_URLS    
          value: "http://+:8080"